<h2>Edit Info</h2>
<form action="<%= user_url(@user) %>" enctype="multipart/form-data" method="POST">
	<%= auth_token %>
	<%= action_modifier("patch") %>
	
	<input type="file" name="user[profile_photo]">
	
	<label>
		Username
		<input type="text" name="user[username]" value="<%= @user.username %>">
	</label>
	
	<br>
	
	<label>
		Email
		<input type="text" name="user[email]" value="<%= @user.email %>">
	</label>
		
	<br>
	
	<button>Submit</button>
</form>