<h2>Edit Info</h2>
<form action="<%= user_url(@user) %>" enctype="multipart/form-data" method="POST">
	<%= auth_token %>
	<%= action_modifier("patch") %>
	
	<input type="file" name="user[profile_photo]">
	
	<br>
	
	<label>
		Username
		<input type="text" name="user[username]" value="<%= @user.username %>">
	</label>
	
	<br>
	
	<label>
		Email
		<input type="text" name="user[email]" value="<%= @user.email %>">
	</label>
		
	<br>
	
	<label>
		Life Goals
		<input type="text" name="user[life_goals]" value="<%= @user.life_goals %>">
	</label>
	
	<br>
	
	<label>
		Job(s)
		<input type="text" name="user[job]" value="<%= @user.job %>">
	</label>
	
	<br>
	
	<label>
		Hobbies
		<input type="text" name="user[hobbies]" value="<%= @user.hobbies %>">
	</label>
		
	<br>

	<label>
		Reason to meet
		<input type="text" name="user[reason_to_meet]" value="<%= @user.reason_to_meet %>">
	</label>
	
	<br>
	
	<label>
		Relationship Status
		<select name="user[relationship_status]">
			<option value="">Choose One</option>
			<option value="1" <%= "Selected" if @user.relationship_status == 1 %>>Single</option>
			<option value="2" <%= "Selected" if @user.relationship_status == 2 %>>In a new relationship</option>
			<option value="3" <%= "Selected" if @user.relationship_status == 3 %>>In a long term relationship</option>
			<option value="4" <%= "Selected" if @user.relationship_status == 4 %>>Married/Engaged</option>
		</select>
	</label>
	
	<br>
	
	<label>
		Personality Type
		<select name="user[personality_type]">
			<option value="">Choose One</option>
			<option value="1" <%= "Selected" if @user.personality_type == 1 %>>Nerdy</option>
			<option value="2" <%= "Selected" if @user.personality_type == 2 %>>Nerd-ish</option>
			<option value="3" <%= "Selected" if @user.personality_type == 3 %>>Neutral</option>
			<option value="4" <%= "Selected" if @user.personality_type == 4 %>>Bro-ish</option>
			<option value="5" <%= "Selected" if @user.personality_type == 5 %>>Bro</option>
		</select>
	</label>
		
	<br>
	
	<button>Submit</button>
</form>